.title {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
    background: $color2;
    height: 150px;
    align-items: center;
    opacity: 0.9;
    border-radius: 5px;
    @media screen and (max-width: 780px) {
        text-align: center;
        height: auto;
        padding: 10px;
    }
    h1 {
        font-weight: 100;
        font-size: 30px;
        color: $color3;
    }
    h2 {
        width: 80%;
        font-weight: 100;
        color: $color3;
    }
}

.spaceEvenly {
    justify-content: space-evenly;
}

.marginBottom {
    margin-bottom: 10rem;
    @media screen and (max-width: 780px) {
        margin: inherit;
    }
}

.galleryWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: $color2;
    margin-bottom: 20px;
    ul {
        list-style-type: none;
    }
}

.products-linkWrapper {
    width: 30%;
    @media screen and (max-width: 780px) {
        width: auto;
    }
    &-txt {
        border: 1px solid #780000;
        padding: 25px;
        font-size: 13px;
        margin: 20px 0;
    }
}

.txt {
    border-left: 1px solid #780000;
    line-height: 20px;
    width: 50%;
    text-align: justify;
    margin: 20px 40px;
    padding: 25px;
    font-size: 13px;
    @media screen and (max-width: 780px) {
        width: auto;
        margin: 20px 0;
        padding: 10px 0;
        border-bottom: 1px solid #780000;
        border-left: none;
    }

    &-highlight {
        color: $color2;
    }
}
